doctype html
html(data-id='user@example.com')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/bs-dtpicker-styles.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body(class='container-fluid')
    block content
    //script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.2.min.js')
    script(type='text/javascript', src='../javascripts/jquery-2.0.3.min.js')
    script(type='text/javascript', src='../javascripts/bootstrap.js')
    script(type='text/javascript', src='../javascripts/moment.js')
    script(type='text/javascript', src='../javascripts/bs-datetimepicker.js')
    block script
